body {
  margin:0;
	padding:0;
	font-family:arial;
	color:#495057;
	font-size:14px;
}

#secreturl { width:610px !important;}

#submit-pass {
   margin:0 0 0 8px;
   display:inline-block;
}

#content {
	width:930px;
	margin:0 auto;
	padding-top:24px;
}

#section {
}

#logo {
	height:49px; width:230px; 
	display:block; text-decoration:none; 
	background:url(../img/secrets-logo.png);
	overflow:hidden;
}

#xmission {
	background:url(../img/powered-by-xmission.png);
	width:86px;
	height:66px;
	overflow:hidden;
	display:block;
	text-decoration:none;
	position:absolute;
	top:0; right:0;
	border:1px solid #222;
	border-bottom:0;
	transition:all linear 0.5s;
}

#xmission:hover {
	border-color:#444;
	transition:all linear 0.5s;
}

h1 {font-family: 'Arvo', serif; font-size:24px; color:#aaa}

#header {
	background:url(//asset.xmission.com/xmweb2/head-bg.png) no-repeat left top black;
	position:relative;
	padding-top:14px;
}

#navcontainer {background:#EE4B00; height:29px; overflow:hidden; margin-top:18px}
#nav {list-style-type:none; background; height:29px; margin:0; padding:0; width:950px; margin:0 auto;}
#nav a {color:white; text-decoration:none; font-size:15px; display:block; padding:5px 8px 8px 8px; transition:background linear 0.5s}
#nav a:hover {background:#FF5E14; transition:background linear 0.2s; text-shadow:0 0 2px rgba(0,0,0,0.5)}
#nav li {float:left; margin-right:1em}

#thenote { white-space: pre;  word-wrap: break-word;}
#paste {
	height:300px;
}
#paste, #thenote {
	background:#FBFAA2;
	width:910px;
	margin:0 auto 2em auto;
	font-family:georgia;
	font-size:20px;
	color:#555;
	padding:6px 10px;
	border:1px solid #E8E696;
	box-shadow:2px 2px 0 #EDEB9A, 3px 3px 0 #DDDB90, 5px 5px 0 #EDEB9A, 6px 6px 0 #DDDB90 ;
}

#content a {
	color:#2a7dd1;
	text-decoration:none;
}

#content a:hover {
	text-decoration:underline;
}

.container {
	width:950px;
	margin:0 auto;
	position:relative;
}

.title {
    font-size: 150%;
    font-weight: bold;
}

.desc {
    margin: 0 20px;
}

.nav {
    margin-right: 25px;
}

.nav .destroy:link{
    color: red;
}

.tooltip {
    background: #c9c9c9;
    border-radius: 20px;
    color: white;
    cursor: help;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5x;
    padding: 0px 4px;
}

.tooltip:hover {
    background: #a1a4c9;
}

.timtip .popup {
	opacity:0; 
	width:0; 
	overflow:hidden; 
	position:absolute; 
	bottom:-5px; 
	left:32px; 
	font-size:1px;
	max-height:220px;
	transition:all ease-in 0.2s;
	color:#ffffee;
	text-align:left;
}

.timtip { position:relative; display:inline-block; }

.timtip .trigger { 
	display:inline-block; 
	background:#c5c5c5; 
	border-radius:20px; 
	color:white; 
	font-weight:bold;
	padding:0 6px;
	margin-left:5px;
}

.timtip:hover {cursor:help}

.timtip:hover .popup {
	opacity:1;
	width:220px;
	padding:6px 12px;
	border-radius:3px;
	border:1px solid #aaa;
	box-shadow:1px 1px 6px #ddd;
	background:#ffffee;
	color:#444;
	font-size:14px;
	line-height:150%;
	transition:all ease-out 0.2s;
}

.timtip:hover .trigger {
	background:#a1a4c9;
}

#qrcode {
	height:0px; 
	opacity:0;
	overflow:hidden;
	transition:all linear 0.2s;
}


.mono {
  font-family: Andale Mono, monospace;
}

.blockfirst {
	padding-top:6px;
	text-align:center;
	width:52%;
	float:left;
	border-right:2px solid #ccc;
}


.blocklast {
	padding-top:6px;
	text-align:center;
	width:46%;
	float:left;
}

#passphrase {
	display:block;
	color:#006C82;
	font-weight:bold;
	font-family: Andale Mono, monospace;
	font-size:22px;
	padding:1px 6px;
	margin:4px auto 18px auto;
	background:#72EEFF;
	border:1px solid #00BEE5;
	width:300px
}

.fieldyfield {
	display:inline-block;
	color:#004C62;
	font-family: Andale Mono, monospace;
	font-size:22px;
	padding:1px 6px;
	background:#72EEFF;
	border:1px solid #00BEE5;
	width:310px;
}

.fancyBtn {
    font-size: 14px !important;
    margin: 0 auto 12px auto;
		border:1px solid #888;
    border-radius: 4px;
    color: #444 !important;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    opacity: 0.98;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
	transition:all linear 0.1s;
	background: #dfdfdf;
}

#progress {
	color:#888; 
	font-style:italic;
	font-family:arial,sans-serif;
	font-size:14px;
	font-weight:normal;
	display:block;
	clear:both;
	padding-top:0.75em;
}

.fancyBtn:hover {
	background: #f2f2f2;
	border-color:#aaa;
	color:black;
	transition:all linear 0.1s;
}

#submitBtnHolder {
	margin:10px auto; 
}

#submitBtnHolder input {
	font-size:20px !important
}

#submittedMsg {
	display:none;
	height:41px;
	padding:10px;
	font-size:18px;
	font-family:georgia, serif;
	font-style:italic;
	font-weight:bold;
	color:#999;
}

.fieldTag {
	display:block;
	font-size:12px;
	padding-bottom:4px;
}

.error {
	font-weight:bold;
	color:red;
}