@media (max-width: 721px) {
#submit-pass {
   margin:6px 0 0 0;
   display:block;
}


#secreturl {
   height: auto;
   word-break: break-all;
	width: 100%;
}

#show_hide, .mobile-hidden {display:none !important}

.fieldTag, .noselect {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

#thenote {
	background:#FBFAA2;
  height:auto !important;
   display: block;
   border: 0;
   color: #333;
   box-shadow: none;
   font-weight: normal;
   font-family: sans-serif;
   font-size: 18px;
   margin: 0;
   width: 100%;
   border-radius: 2px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
  padding-left: 4px;
}
     #xmission, .trigger, #content i { display:none !important;  }
     #header .container { border-bottom:10px solid black; width:100%  }
     #navcontainer { position:absolute; bottom:0; left:0; display:none }
     body { background:#222; padding:0 20px; position:relative; }
     #content { display:block; padding:0; background:#222; width:100%; 
color:#ccc; padding-bottom:20px }
     #content .container { padding:0; width:100% !important; 
overflow:hidden }
     #logo { margin:0 auto }
     #qrcode img { border:5px solid white }
     #header { padding:10px 0; margin:0 -20px; background:black  }
     h1 { font-family:sans-serif; color:#555; font-size:18px; 
color:#EE4B00 }
     #paste { display:block; height:75px; border:0; color:#333; 
box-shadow:none; font-weight:normal; font-family:sans-serif; 
font-size:18px; margin:0; width:100%; border-radius:2px; 
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: 
border-box; }
     .blockfirst, .blocklast { width:100%; border:none; text-align:left; 
float:none; }
     #passphrase { margin:6px 0; display:block; border:0; 
border-radius:2px; width:100%; font-size:18px; background:#ccc 
!important; padding:4px 8px; -webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; box-sizing: border-box; color:#EE4B00 }
     #passphrase:active, #passphrase:focus {background:white !important }
     .fancyBtn { color:#eee !important; margin:6px 0; padding:10px 0; 
width:100%; background: #555555; background: -moz-linear-gradient(top, 
#555555 0%, #001111 100%); background: -webkit-gradient(linear, left 
top, left bottom, color-stop(0%,#555555), color-stop(100%,#001111)); 
background: -webkit-linear-gradient(top, #555555 0%,#001111 100%); 
background: -ms-linear-gradient(top, #555555 0%,#001111 100%); 
background: linear-gradient(to bottom, #555555 0%,#001111 100%); }
     .fancyBtn:hover {  color:#fff !important; margin:6px 0; width:100%; 
background: #555555; background: -moz-linear-gradient(top, #555555 0%, 
#001111 100%); background: -webkit-gradient(linear, left top, left 
bottom, color-stop(0%,#555555), color-stop(100%,#001111)); background: 
-webkit-linear-gradient(top, #555555 0%,#001111 100%); background: 
-ms-linear-gradient(top, #555555 0%,#001111 100%); background: 
linear-gradient(to bottom, #555555 0%,#001111 100%); }
     .fieldyfield { color: #333; font-family: monospace; font-size: 
22px; padding: 2px 8px; background: #fff; border:none; width: 100% 
!important; padding:4px; font-size:22px }
     #content a {display:inline-block; padding: 4px 8px; border:1px 
solid #aaa; border-radius:2px; color:#fff; font-size:20px; background:#444;
}
}
