{% extends "base.html" %}
{% block title %}Self Destructing Notes{% endblock %}
{% block head %}
    <script type="application/javascript" src="{{ url_for('index') }}static/js/hashcash.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/sha1-min.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/fingerprint-min.js"></script>
    <script type="application/javascript">var fingerprint = new Fingerprint().get();</script>
    <script type="application/javascript">
        window.onload = function() {
            var secret = document.getElementById('paste');
            secret.focus();
        }

        window.onpageshow = function(event) {
        if (event.persisted) {
            document.getElementById("paste").value = "";
            document.getElementById("passphrase").value = "";
            document.getElementById("submitBtn").style.display="block";
            document.getElementById("submittedMsg").style.display="none";
        }
        };
    </script>
{% endblock %}
{% block content %}
    <h1>Create a new Secret Note</h1>
    <p>Securely send sensitive or private information. All notes are encrypted and destroyed immediately after viewing.</p>
    <style>.nav_home {color:yellow !important}</style>
    <form method="POST" onsubmit="return checkForm()" action="{{ url_for('show_post', _external=True) }}" id="pasteForm">
        {% if error %}
            <p class="error">
            {% if error == "hashcash" %}
                HashCash token is invalid. Please make sure JavaScript is enabled and try again.
            {% endif %}
            </p>
        {% endif %}
    <input name="new_url" type="hidden" value="{{ random }}">
    <textarea id="paste" name="paste" placeholder="Enter your text"></textarea>
    <br/>
    <div class="blockfirst">
        <span class/"noselect">Optional password:</span>
        <span class="timtip">
            <span class="trigger">?</span>
            <span class="popup">This password will encrypt and decrypt your note, rather than the one created by the server.</span>
        </span>
        <input id="passphrase" type="text" name="pass">
        <input type="button" class="fancyBtn" value="Generate" onclick="document.getElementById('passphrase').value = make_key()">
    </div>
    <div class="blocklast">
        <input type="hidden" id="hashcash" name="hashcash">
            <div id="submitBtnHolder">
                <input type="button" class="fancyBtn" id="submitBtn" value="Submit Secret Note" onClick="checkForm();">
            </div>
            <div id="submittedMsg">
                <img src="/static/img/loading.gif" alt="" align="absmiddle" /> &nbsp; Processing, please wait
            </div>
        </div>
    </form>
{% endblock %}
