{% extends "base.html" %}
{% block title %}Self Destructing Notes{% endblock %}
{% block head %}
    <script type="application/javascript" src="{{ url_for('index') }}static/js/hashcash.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/sha1-min.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/fingerprint-min.js"></script>
    <script type="application/javascript">var fingerprint = new Fingerprint().get();</script>
{% endblock %}
{% block content %}
    <h1>Create a new Secret Note</h1>
		<style>.nav_home {color:yellow !important}</style>
    <form method="POST" onsubmit="return validate_form()" action="{{ url_for('show_post', _external=True) }}">
        {% if error %}
            <p class="error">
            {% if error == "hashcash" %}
                HashCash token is invalid. Please make sure JavaScript is enabled and try again.
            {% endif %}
            </p>
        {% endif %}
        <input name="new_url" type="hidden" value="{{ random }}">
        <p style="padding-top:1em">Type or paste your text below:</p>
        <textarea id="paste" name="paste"></textarea>
        <br/>
        <div class="blockfirst">
            Enter optional passphrase / password:<input id="passphrase" type="text" name="pass" id="passphrase">
            <input type="button" class="fancyBtn" value="Generate random passphrase" onclick="document.getElementById('passphrase').value = make_key()">
        </div>
        <div class="blocklast">
						When finished, press:
            <input type="hidden" id="hashcash" name="hashcash">
            <input type="submit" class="fancyBtn" id="submit" value="Submit Secret Note" style="margin:10px auto; font-size:20px !important">
            <span id="progress">Please be patient while token is calculated.</span>
        </div>
    </form>
{% endblock %}
