{% extends "base.html" %}
{% block title %}Note Created{% endblock %}
{% block head %}
    <script type="application/javascript" src="{{ url_for('index') }}static/js/qrcode-min.js"></script>
{% endblock %}
{% block destroy %}
{% endblock %}
{% block content %}
    <h1>Your Secret Note Details</h1>
    <p style="padding-bottom:5em">
        <span class="fieldTag">Send this private Secret Note URL to your recipient:</span>
        <input class="mono fieldyfield" id="secreturl" value="{{ url_for('fetch_url', random_url=random, _external=True) }}" type="text" onclick="select()" />
    </p>
    <div style="border-top:1px solid #ccc; padding-top:1em">    
    {% if passphrase %}
    <p>
        <span class="fieldTag">Your password:</span>
        <input class="mono fieldyfield ffmuted" onclick="select()" value="{{ passphrase}}" />
    </p>
    {% endif %}
    {% if duress %}
    <p>
        <span class="fieldTag">Your duress key:</span>
        <input class="mono fieldyfield ffmuted" onclick="select()" value="{{ duress }}" />
        <!-- do not wrap at 80-characters. the hover text breaks -->
        <span class="timtip">
            <span class="trigger">?</span>
            <span class="popup">A  key that you provide to someone that is demanding decryption of the note. Except, this key will immediately destroy the note, without decrypting it.</span>
        </span>
    </p>
    {% endif %}
    <p>For plausible deniability, provide just the private ID to the note, rather than the full URL:</p>
    <p>
        <span class="fieldTag">Your private ID:</span>
        <input class="mono fieldyfield ffmuted" onclick="select()" value="{{ random }}" />
    </p>
    <p>If you submitted this note in error, you can 
       <a href="{{ url_for('fetch_url', random_url=random, _external=True) }}" id="destroyBtn">destroy the note here</a></li><span class="mobile-hidden">.</span>
    </p>
    <p style="padding-top:10px" class="mobile-hidden">Alternatively, you can scan the QR code, and "share" it using your mobile device via text message, email, etc.</p>
    <div style="font-size:12px;">
        <i><strong>NOTE:</strong> <a href='https://f-droid.org/repository/browse/?fdid=com.google.zxing.client.android'>ZXing Barcode</a> users: disable "Retrieve more info" from the settings, otherwise your recipient will <strong>NOT</strong> be able to view the post.</p></i>
    </div>
    <a id="show_hide" href="#" onclick="toggle('qrcode');">Show QR Code</a>
    <div id="qrcode">&nbsp;</div>
</div>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), { text: "{{ url_for('fetch_url', random_url=random, _external=True) }}", correctLevel: QRCode.CorrectLevel.L });
        function toggle(id) {
            var state = document.getElementById(id).style.height;
            var text = document.getElementById("show_hide");
            if (state == '300px') {
                document.getElementById(id).style.height = '0px';
                document.getElementById(id).style.opacity = '0';
                text.innerHTML = "Show QR Code";
            } else {
                document.getElementById(id).style.height = '300px';
                document.getElementById(id).style.opacity = '1';
                text.innerHTML = "Hide QR Code";
            }
        }

        document.getElementById("secreturl").focus();
        document.getElementById("secreturl").select();
    </script>
{% endblock %}
